# ide config
.idea
.vscode

# tests
node_modules
tests/.yalc
tests/pict-rs
tests/log

# plugins
plugins/rust_allowed_voters/target
plugins/rust_lingua/target
plugins/rust_captcha/target
plugins/*/dist
plugins/*/node_modules

# lemmy plugins
*.wasm

# lemmy binary
lemmy_server
